* {
  display: revert;
  box-sizing: border-box;
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 0;
}

.table {
  margin-bottom: 20px;
}

.radio {
  display: inline;
}

.radio1 {
  display: inline-block;
  margin-bottom: 15px;
}
